{% extends 'base.html' %}

{% block title %}
  Contact

{% endblock %}


{% block content %}
<div class="header-bar">
  <h1 class="text-center">Contact Page</h1>
  <hr>
</div>
<div id="contact">
  <h2>Contact Us</h2>
  <p>If you have any questions or would like to schedule an appointment, please don't hesitate to get in touch:</p>
  <address>
      <p>City Hospital</p>
      <p>123 Main Street</p>
      <p>City, State ZIP</p>
      <p>Phone: 0123456789</p>
      <p>Email: info@cityhospital.com</p>
  </address>
</div>

{% endblock %}